:root {
	--file-width: 100px;
	--dragging_amount: unset;
}

body {
	display: flex;
	margin: 0;
	user-select: none;
	overflow: hidden;
	overflow-y: auto;
	font-family: sans-serif;
	color: rgb(195, 195, 195);
}

aside {
	position: fixed;
	display: flex;
	flex-direction: column;
	background-color: black;
	height: 100vh;
	width: 250px;
}

main {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 5px;
	min-height: calc(100vh - 10px);
	background-color: #191919;
	width: calc(100% - 250px);
	margin-left: 250px;
}





/* Groups */
group {
	display: flex;
	flex-flow: row wrap;
	gap: 5px;
	padding: 5px;
	border: 1px solid rgba(195, 195, 195, 0.3);
	border-radius: 5px;
	min-height: 20px;
}

#create_group, #default_group  {
	min-height: 50px;
	border-color: #60cdff;
}

#default_group {
	border-color: transparent;
}

.selected_container {
	border-color: #60cdff;
}


/* Files */
file {
	position: relative;
	display: flex;
	flex-direction: column;
	width: var(--file-width);
	padding: 5px;
	border: 2px solid transparent;
	border-radius: 5px;
	cursor: move;
	transition: transform 200ms ease;
	will-change: transform;
}

main:not(.started_dragging) file:hover, file.selected_element, file.dragging_clone {
	background-color: rgba(195, 195, 195, 0.3);
}
file.selected_element {
	border: 2px solid rgb(195, 195, 195);
}

file.dragging {
	border: 2px solid rgb(195, 195, 195);
	pointer-events: none;
}
file.dragging * {
	visibility: hidden;
}

file.dragging_clone {
	position: fixed;
	top: -9999px;
}

file span {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #60cdff;
	color: black;
	padding: 5px;
	border-radius: 2px;
}

file div {
	display: flex;
	align-items: flex-end;
	flex: 1;
	width: 100%;
	max-height: calc(var(--file-width) - 10px);
}

file img {
	width: 100%;
	max-height: 100%;
	object-fit: contain;
}

file text {
	padding-top: 5px;
	text-align: center;
	font-size: smaller;
}